---
const { data } = Astro.props;
---

<a href={`/events/${data.slug}`}>
  <div class="event_wrapper">
    <article class="hover-1">
      <img src={data.images} alt={`Image of ${data.name}`} class="billede" />
      <div class="overlay">
        <h2 class="tekst">Oplev d. {data.date}</h2>
        <img src="/illustrations/logo_event.svg" alt="" class="logo_event" />
      </div>
      <img src="/illustrations/event_ilu.svg" alt="" class="event_ilu" />
    </article>

    <div class="tekst_boks">
      <h3>{data.name}</h3>
      <p>{data.short_description}</p>
    </div>
  </div>
</a>

<style>
  .event_wrapper {
    display: flex;
    flex-direction: column;
    padding-right: 3rem;
  }
  a {
    text-decoration: none;
  }

  p,
  h3 {
    color: #3c1518;
  }

  h2 {
    color: #f7f5ea;
    font-size: 30px;
    font-weight: 300;
    /* padding-top: 6rem; */
  }

  .tekst_boks {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  .logo_event {
    width: 45%;
    left: 23%;
    top: 50%;
    position: absolute;
  }

  .tekst {
    font-size: 2rem;
    margin-top: -10rem;
  }
  @media (min-width: 600px) and (max-width: 1000px) {
    .tekst {
      margin-top: -4rem;
      font-size: 1.2rem;
    }
  }

  @media (min-width: 600px) {
    .event_wrapper {
      padding-right: 0;
    }
    h2 {
      color: #f7f5ea;
      font-size: 30px;
    }

    .tekst_boks {
      padding-top: 3rem;
      padding-bottom: 4rem;
    }
  }

  .hover-1 {
    position: relative; /* Gør det muligt at placere overlayet */
    display: inline-block; /* Gør containeren til en blok, der kun fylder billedets bredde */
  }

  .overlay {
    position: absolute; /* Gør det muligt at placere overlayet over billedet */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #5a6b3b; /* Semi-transparent grå baggrund */
    opacity: 0; /* Skjuler overlayet som standard */
    display: grid;
    justify-content: center;
    align-items: center;
    transition: opacity 0.3s ease; /* Glidende overgang for opacitet */
    border-radius: 5%;
    z-index: 2;
    gap: 2px;
  }

  .hover-1:hover .overlay {
    opacity: 1; /* Gør overlayet synligt ved hover */
  }

  .event_ilu {
    position: absolute;
    top: 10%;
    left: 10%;
    z-index: 0;
    width: 100%;
    height: auto;
    pointer-events: none;
  }

  .billede {
    position: relative;
    z-index: 1;
    width: 100%;
    height: auto;
  }
</style>
